<div ng-show="journalList"><!--class="col-xs-6 col-md-4"-->
    <br/>
    <input type="text" class="form-control" ng-model="journalsQuery" autofocus placeholder="Search Journals">     
    <br>
    <form ng-submit="addJournal()">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="newJournal"
                   placeholder="Create new journal!">
            <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="add">
            </span>
        </div>
    </form>
    <ul>
        <li ng-repeat="journal in journals | orderByPriority | orderBy:'-created' | filter:journalsQuery" class="row card">
            <a id="startEdit{{journal.$id}}" class="lead" ui-sref=".journal({journalId: journal.$id})" ng-click="journalListView()">{{journal.name | uppercase}}</a>
            <form id="editing{{journal.$id}}" style="display:none">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="newJournalName"
                           placeholder="{{journal.name | uppercase}}" autofocus>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="updateJournal(newJournalName, journal.$id)">Add</button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="cancelJournalEdit(journal.$id)">Cancel</button>
                    </span>
                </div>
            </form>
            <br>
            <div>
                <button class="btn btn-default editButton" ng-click="removeJournal(journal.$id)">Delete</button>
                <button class="btn btn-default editButton" ng-click="editJournalName(journal.$id)">Edit</button>
                <small style="float:right" class="edit">{{journal.created | date}}</small>
            </div>
        </li>
    </ul>
</div>
<div ui-view></div>
