<div> <!--class=" col-xs-12 col-sm-6 col-md-8"--> 
    <a ui-sref="^" ng-click="journalListView()">&lt;back</a>
    <br>
    <input type="text" class="form-control" ng-model="journalQuery" placeholder="Search Journal">
    <form id="newItem" ng-submit="addItem()">
        <div style="margin:5px 0">
        <div class="btn-group" data-toggle="buttons" style="">
            <label class="btn btn-primary">
              <input type="radio" name="type" value="task" id="task"> Task
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="type" value="event" id="event"> Event
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="type" value="note" checked id="note"> Note
            </label>
          </div>
        <div class="btn-group" data-toggle="buttons" style="float:right">
            <label class="btn btn-primary" style="">
              <input type="checkbox" name="attribute" value="important"> *
            </label>
            <label class="btn btn-primary" style="">
              <input type="checkbox" name="attribute" value="explore"> @
            </label>
            <label class="btn btn-primary" style="">
              <input type="checkbox" name="attribute" value="idea"> !
            </label>
        </div>
        </div>
        <div class="input-group">
        <input type="text" class="form-control" ng-model="newItem" autofocus placeholder="Add new item!">
            <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="add">
            </span>
        </div>
    </form>
    <ul>
        <li ng-repeat="item in items | orderByPriority | filter:journalQuery" class="row" style="background-color:#fff; margin: 5px 0 5px -40px; padding:5px; border-radius: 5px">
            <button ng-click="removeItem(item.$id)">X</button>
            <input ng-show="(item.type === 'task')" ng-click="taskStatusUpdate(item.$id)" type="checkbox" name="taskStatus" value="taskStatus">
            {{item.attributes}} | {{item.type | uppercase}}: {{item.text}}<br>
            <small style="float:right">{{item.created | date}}</small>
        </li>
    </ul>
</div>
