<div>
    <span>
        {{user.id}}-<small>{{user.email}}</small>
    </span>
    <br/>
    <input ng-model="query" placeholder="Search Journals">     
    <form ng-submit="addJournal()">
        <input type="text" ng-model="newJournal" size="30"
               placeholder="Create new journal!">
        <input class="btn-primary" type="submit" value="add">
    </form>
    <ul>
        <li ng-repeat="journal in journals | orderByPriority | filter:query">
            <button ng-click="removeJournal(journal.$id)">remove</button>
            <a ui-sref=".journal({journalId: journal.$id})">{{journal.name | uppercase}}</a>
            <small>{{journal.created | date}}</small><small>{{journal.$id}}</small>
        </li>
    </ul>
    <div ui-view></div>
</div>
